<?xml version="1.0" encoding="UTF-8" ?><!-- java 메소드명과 id가 같으면 sql 동작함 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper.java == mapper.xml은 한쌍 -->
<!-- mapper의 몸체 SQL 수행, db에 접근함 -->
<mapper namespace="DAO.SushiMapper">

	<insert id="insertSushi" parameterType="Sushi">
		insert into sushi(
		sushiNo,
		sushiName,
		sushiPrice,
		fishNo,
		fishName,
		fishIn)
		values(
		#{sushiNo},
		#{sushiName},
		#{sushiPrice},
		#{fishNo},
		#{fishName},
		#{fishIn}
		)
	</insert>

	<insert id="insertStore" parameterType="Store">
		insert into store(
		fishNo,
		fishAmount
		)values(
		#{fishNo},
		#{fishAmount}
		)
	</insert>

	<insert id="insertJumun" parameterType="Jumun">
		insert into Jumun(
		jumunNo
		, guestNo
		, tableNo
		, sushiNo
		, sushiCount)
		values(
		#{jumunNo}
		,
		#{guestNo}
		, #{tableNo}
		, #{sushiNo}
		, #{sushiCount}

		)

	</insert>

	<insert id="insertGuest" parameterType="Guest">
		insert into Guest(
		guestNo
		, tableNo)
		values(
		#{guestNo}
		, #{tableNo}
		)

	</insert>

	<delete id="deleteJumun" parameterType="String">
		delete from Jumun
		where
		jumunNo = #{jumunNo}
	</delete>
	<delete id="deleteGuest" parameterType="String">
		delete from Guest
		where
		guestNo = #{guestNo}
	</delete>
	<delete id="deleteSushi" parameterType="String">
		delete from Sushi
		where
		sushiNo = #{sushiNo}
	</delete>
	<delete id="deleteStore" parameterType="String">
		delete from Store
		where
		fishNo = #{fishNo}
	</delete>
	
	 <update id="updateCost" parameterType="Guest">
      update Guest set
      tableNo = #{tableNo}
      ,cost = #{cost}
      where guestNo = #{guestNo}
   </update>
	
	<update id="updateSales" parameterType="Store">
		update Store set
		fishAmount = #{fishAmount}
		,tableNo = #{tableNo}
		,totalSales = #{totalSales}
		where fishNo = #{fishNo}
	</update>


</mapper>
